@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-center">
    <div>
        <p>Your random number is: @Model.RandomNumber</p>
    </div>
    <div>
        <p>Chuck fact: @Model.ChuckNorrisFact</p>
    </div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Start Reign (B.C.)</th>
            <th>End Reign (B.C.)</th>
            <th>Consorts</th>
        </tr>
        @foreach(var seleucid in Model.Seleucids)
            {
            <tr>
                <td>@seleucid.Name</td>
                <td>@seleucid.StartReign</td>
                <td>@seleucid.EndReign</td>
                <td>
                    @foreach (var consort in seleucid.Consorts)
                    {
                        <span>@consort</span>
                    }
                </td>
            </tr>
            }
    </table>
</div>
